@mixin desktop {
    @media (min-width: 832px){
        @content;
    }
}

@mixin image-mobile {
    @media (max-width: 649px){
        @content;
    }
}

@mixin shop-menu {
    @media (min-width: 935px){
        @content;
    }
}

@mixin shop-menu-md {
    @media (min-width: 1100px){
        @content;
    }
}

@mixin shop-menu-lg {
    @media (min-width: 1200px){
        @content;
    }
}

@mixin shop-menu-xl {
    @media (min-width: 1350px){
        @content;
    }
}

$headerBlue: #1472D0;
$headerDarkGrey: hsl(240, 1%, 20%);
$headerLightGrey: #D6D6D6;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

header{
    background-color: $headerDarkGrey;
    height: 50px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 12px;
    // line-height: 1.47059;
    font-weight: 400;
    width: 100%;
    position: relative;
    li{
        list-style: none;
        a{
            text-decoration: none;
        }
    }

    .flex-container-icons-header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
    }
    @include desktop{
        .flex-container-icons-header{
            width: auto;
        }
    }
    .flex-container-menu-header{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    @include desktop{
        .flex-container-menu-header{
            justify-content: center;
            align-items: center;
        }
    }
}

.navbar-header{
    display: flex;
    flex-direction: column;
    
    .nav-menu-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5px;
        background-color: black;
        transition: 0.3s;
        height: 100vh;
        font-size: 16px;
        color: $headerLightGrey;
        position: relative;
        z-index: 1001;
        padding-bottom: 100px;
        li{
            padding: 10px 60px;
        }
       
        hr{
            margin-top: 10px;
        }
        #first-hr{
            width: 100vw;
  
        }

        i.fa-brands{
            margin-left: 75px;
            margin-top: -49px;
        }
        @include desktop{
            i.fa-brands{
                display: none;
            }
        }
        .nav-link-header{
            color: $headerLightGrey;
            &:hover{
                color: white;
            }
        }
        .search-nav-header{
            background-color: #1D1D1F;
            padding: 10px;
            border-radius: 10px;
            margin: 10px 60px;
            border-right-style: hidden;
            border-bottom-style: hidden;
            padding-left: 40px;
            font-size: 16px;

        }
        @include desktop{
            .search-nav-header{
                display: none;
            }
        }
    }
    @include desktop{
        .nav-menu-header{
            flex-direction: row;
            background-color: $headerDarkGrey;
            height: auto;
            padding: 0;
            font-size: 12px;
            li{
                padding: 0;
            }
           
        }
    }

    @include desktop{
        .nav-item-header{
            margin-left: 20px;
        }
    }

    .nav-menu-shop{
        background-color: white;
            a{
                &:link{
                color: $headerBlue;
                }
                &:visited{
                color: $headerBlue;
                }

                &:active{
                color: $headerBlue;
                }
            }
            i{
                color: $headerBlue;
                margin-right: 10px;
            }
        transition: 0.3s;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 90px;
        margin-top: 10px;
        
        .nav-item-shop{
            
            &:hover{
                text-decoration: underline;
            }
           
        }
        p{
            align-self: center;
            color:hsl(0, 0%, 54%);
            font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        }
    }
    @include desktop{
        .nav-menu-shop{
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 20px;
            p{
                padding-left: 10px;
            }

        }
    }
}
@include desktop{
    .navbar-header{
        flex-direction: row;
        width: 100%;
        height: 50px;
    }
}

//Styling hamburgermeny
.hamburger{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    .line{
        display:block;
        width: 15px;
        height: 1px;
        margin: 3px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: $headerLightGrey;
        &:hover{
            color: hsl(0, 0%, 94%);
        }
    }
}
.hamburger.active .line:nth-child(1){
    transform: translateY(3px) rotate(45deg);
}
.hamburger.active .line:nth-child(2){
    transform: translateY(-3px) rotate(-45deg);
}
@include desktop{
    .hamburger{
        display: none;
    }
}

header{
hr{
    width: 100%;
    border-top: 1px;
}
}
@include desktop{
    hr.hr-menu{
        display: none;
    }
}

//Få menyerna att synas när jag klickar på den och försvinna
.navbar-links-header{
    display: none;
}
@include desktop{
    .navbar-links-header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.navbar-links-header.active{
    display: block;
    width: 100%;
}

//För "shoppingmenyn"
.menulinks-header{
    display: none;
    width: 100%;
}

.menulinks-header.active{
    display: block;
    width: 100%;
    position: absolute;
    font-size: 15px;
}
@include desktop{
    .menulinks-header.active{
        width: 300px;
        margin-top: 60vh;
        right: 0.5vw;
        border-radius: 20px;
        border: 1px solid $headerLightGrey;
    }
    @include shop-menu{
        .menulinks-header.active{
            right: 5vw;
        }
    }
    @include shop-menu-md{
        .menulinks-header.active{
            right: 12vw;
        }
    }
    @include shop-menu-lg{
        .menulinks-header.active{
            right: 15vw;
        }
    }
    @include shop-menu-xl{
        .menulinks-header.active{
            right: 20vw;
        }
    }
}

//denna shopping-ikon är dold i mobile men syns i desktop och placeras då längst till höger

.shop-logo-header-desktop{
    display: none;
}
@include desktop{
    .shop-logo-header-desktop{
        display: inline-block;
        color: $headerLightGrey;
        margin-left: 20px;
        margin-right: 20px;
        &:hover{
            color: hsl(0, 0%, 94%);
        }
    }
}
//Detta gör så att apple-logon byter plats och blir snyggare i desktop
.brand-logo-header-desktop{
    display: none;
}
@include desktop{
    .brand-logo-header-desktop{
        display: inline-block;
        // margin-right: 20px;
        // margin-left: 20px;
        i{
            line-height: normal;
        }
    }
    
}

@include desktop{
    .brand-logo-header{
        display: none;
    }
}

i.fa-brands{
    color: $headerLightGrey;
    &:hover{
        color: hsl(0, 0%, 94%);
    }
}
i#shopper-mobile{
    color: $headerLightGrey;
    padding-right: 20px;
    &:hover{
        color: hsl(0, 0%, 94%);
    }
}
//Detta får shopperikonen att försvinna (mitten)
@include desktop{
    i#shopper-mobile{
        display: none;
    }
}

//Detta gör så att förstoringsglaset bara syns i desktop
.search-icon-header-desktop{
    display: none;
}
@include desktop{
    .search-icon-header-desktop{
        display: inline-block;
        margin-left: 20px;
    }
}

//Styling för innehållet, ej själva "headern"

.text-header{
   text-align: center;
   width: 100%;
   background-color: #FBFBFD;
   padding-bottom: 10px;
   font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
   padding-top: 50px;
   h1{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
   }
   h2{
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    padding-bottom: 10px;
   }

   a{
    font-size: 20px;
    text-decoration: none;
    padding: 25px;
    color: $headerBlue;
  
    
   }
};

.image-header{
    width: 100%;
    background-color: #FBFBFD;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: -1px;
    img{
        width: 70%;
        height: 400px;
        object-fit: cover;
    }
    @include image-mobile{
        img{
            width: 100%;
        }
    }
}
