footer {
  margin-top: auto;
  display: block;
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "SF Pro Text";
  font-size: 12px;
  background-color: rgba(245, 245, 247, 0.937254902);
}

.footer-nav {
  padding-top: 20px;
  padding-bottom: 17px;
}

.footer-nav-column {
  direction: ltr;
  text-align: left;
  pointer-events: auto;
  padding: 10px 0px;
  margin-left: 10px;
}

.h3-footer {
  color: #6E6E73;
  font-family: "SF Pro Text";
  font-size: 12px;
  letter-spacing: normal;
  line-height: 1.33337;
  font-weight: 400;
}

.footer-hr {
  margin: 0px 10px 0px;
  height: 1px;
  color: #424245;
}

.footer-shop {
  margin-left: 10px;
  padding-top: 19px;
  padding-bottom: 5px;
}

p {
  font-family: "SF Pro Text";
  font-size: 12px;
  color: #6E6E73;
  letter-spacing: normal;
  line-height: 1.33337;
  font-weight: 400;
}

.footer-blue-link {
  font-family: "SF Pro Text";
  color: #0066CC;
  text-decoration: none;
}

.footer-location {
  margin: 10px;
  padding-bottom: 10px;
}

#sverige {
  font-family: "SF Pro Text";
  font-size: 12px;
  margin: 10px;
  color: #424245;
  text-decoration: none;
}

.footer-copyright {
  margin: 10px;
  color: #6E6E73;
}

.footer-links {
  margin: 10px;
  margin-top: 0;
}

.footer-bottom-link {
  color: #424245;
  text-decoration: none;
  margin: 5px 7px 0px 0px;
  padding: 0px 10px 0px 0px;
}

@media screen and (min-width: 834px) {
  .footer-desktop {
    height: auto;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 34px;
    text-align: justify;
    -moz-columns: 100px 5;
    columns: 100px 5;
    -webkit-columns-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
  .footer-desktop .footer-content {
    margin: 15px;
  }
  .footer-desktop .column-1-9 {
    font-family: "SF Pro Text";
  }
  .footer-desktop .column-1-9 h3 {
    color: #1d1d1f;
    font-size: 12px;
  }
  .footer-desktop .column-1-9 ul {
    list-style: none;
  }
  .footer-desktop .column-1-9 li a {
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    color: #6E6E73;
  }
  .footer-container {
    visibility: hidden;
    display: none;
  }
}
@media screen and (max-width: 834px) {
  .footer-desktop {
    display: none;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.outer-wrapper {
  width: 90%;
  margin: 50px auto;
}

.s-wrap {
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 55%;
  position: relative;
  border: 10px solid #fff;
  background-color: #efefe8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media screen and (max-width: 734px) {
  .s-wrap {
    height: 495px;
  }
}
.s-wrap > input {
  display: none;
}
.s-wrap .s-content {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  font-size: 0;
  list-style: none;
  transition: transform 1s;
}
.s-wrap .s-item {
  display: inline-block;
  width: 20%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.s-wrap .s-item-1 {
  background-image: url("https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80");
}
.s-wrap .s-item-2 {
  background-image: url("https://images.unsplash.com/photo-1604275093239-7ed96f8ee59c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
}
.s-wrap .s-item-3 {
  background-image: url("https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80");
}
.s-wrap .s-item-4 {
  background-image: url("https://images.unsplash.com/photo-1625490939776-17cef70ec079?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80");
}
.s-wrap .s-item-5 {
  background-image: url("https://images.unsplash.com/photo-1468436139062-f60a71c5c892?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.s-type-3 .left-control,
.s-type-3 .right-control {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.s-type-3 .right-control {
  left: auto;
  right: 0;
}

.slide-content {
  position: absolute;
  left: 5%;
  top: 73%;
  margin-left: 60px;
  margin-top: 60px;
  max-width: 480px;
  color: #fff;
  z-index: 1;
  display: flex;
  align-items: center;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
@media (max-width: 734px) {
  .slide-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 200px;
    margin-top: 5px;
  }
}
.slide-content .slider-btn {
  text-decoration: none;
  background-color: #fff;
  color: #1d1d1f;
  cursor: pointer;
  border-radius: 980px;
  min-width: 26px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 1.42859;
  font-weight: 700;
}
.slide-content .slider-btn i {
  padding-left: 5px;
}
.slide-content p {
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  margin-left: 8px;
}
@media (max-width: 734px) {
  .slide-content p {
    font-size: 15px;
    padding-bottom: 10px;
  }
}
.slide-content p .slider-genre {
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 700;
  letter-spacing: 0em;
}
@media (max-width: 734px) {
  .slide-content p .slider-genre {
    font-size: 15px;
  }
}
.slide-content p .slider-dot {
  font-weight: 700px;
}
@media (min-width: 600px) {
  .slide-content {
    position: absolute;
    left: 5%;
    top: 73%;
    margin-left: 60px;
    margin-top: -1px;
    color: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }
}

.top-card {
  height: 500px;
  position: relative;
}
.top-card img {
  position: absolute;
  width: 100%;
  height: 520px;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-card .emoji-text {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.top-card h2 {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  color: #f5f5f7;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.top-card p {
  font-size: 19px;
  color: #f5f5f7;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.top-card a {
  font-size: 16px;
  text-decoration: none;
  padding: 25px;
  color: #1472d0;
}

.Ipad-text {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f5f7;
  font-family: "Roboto", sans-serif;
}
.Ipad-text h2 {
  margin-left: 30%;
  color: black;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.Ipad-text p {
  color: black;
}
.Ipad-text a {
  margin-left: 10%;
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  padding: 2px;
  color: #1472d0;
}

.top-img-container {
  position: relative;
}

.top-card {
  height: 520px;
  position: relative;
}
.top-card .emoji-text {
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Roboto", sans-serif;
}

.top-img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 548px;
}

.img-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  flex-direction: row;
}
.img-gallery-container .iphone14-text {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
}
.img-gallery-container .iphone14-text h2 {
  color: #f5f5f7;
  font-size: 29px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .iphone14-text p {
  font-size: 19px;
  color: #f5f5f7;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .iphone14-text a {
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  padding: 2px;
  color: #1472d0;
}
.img-gallery-container .ipodpro-text {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Roboto", sans-serif;
}
.img-gallery-container .ipodpro-text h2 {
  color: #f5f5f7;
  font-size: 29px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .ipodpro-text p {
  font-size: 19px;
  color: #f5f5f7;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .ipodpro-text a {
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  color: #1472d0;
}
.img-gallery-container .airpod-text {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
}
.img-gallery-container .airpod-text h2 {
  color: #f5f5f7;
  font-size: 29px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .airpod-text p {
  font-size: 19px;
  color: #f5f5f7;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .airpod-text a {
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  padding: 2px;
  color: #1472d0;
}
.img-gallery-container .airpod-text .fa-brands {
  color: white;
  padding: 10px;
  font-size: 30px;
}
.img-gallery-container .apple-watch-text {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
}
.img-gallery-container .apple-watch-text h2 {
  color: #f5f5f7;
  font-size: 29px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .apple-watch-text p {
  font-size: 19px;
  color: #f5f5f7;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .apple-watch-text a {
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  padding: 2px;
  color: #1472d0;
}
.img-gallery-container .apple-watch-text .fa-brands {
  color: white;
  padding: 10px;
  font-size: 30px;
}
.img-gallery-container .apple-watch-text .red-text {
  color: red;
  font-size: 12px;
}
.img-gallery-container .apple-watch-ultra-text {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
}
.img-gallery-container .apple-watch-ultra-text h2 {
  color: black;
  font-size: 29px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .apple-watch-ultra-text p {
  font-size: 19px;
  color: black;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .apple-watch-ultra-text a {
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  padding: 2px;
  color: #1472d0;
}
.img-gallery-container .apple-watch-ultra-text .fa-brands {
  color: black;
  padding: 10px;
  font-size: 30px;
}
.img-gallery-container .apple-watch-ultra-text .red-text {
  color: red;
  font-size: 12px;
}
.img-gallery-container .tv4k-text {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
}
.img-gallery-container .tv4k-text h2 {
  color: black;
  font-size: 29px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .tv4k-text p {
  font-size: 19px;
  color: black;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .tv4k-text a {
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  padding: 2px;
  color: #1472d0;
}
.img-gallery-container .tv4k-text .fa-brands {
  color: black;
  padding: 10px;
  font-size: 30px;
}
.img-gallery-container a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.img-gallery-container .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 548px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.img-gallery-container .card img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
@media (min-width: 1200px) {
  .img-gallery-container .card {
    width: 48%;
    margin: 5px;
  }
}

.top-card {
  height: 500px;
  position: relative;
}
.top-card img {
  position: absolute;
  width: 100%;
  height: 520px;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-card .emoji-text {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.top-card h2 {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  color: #f5f5f7;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.top-card p {
  font-size: 19px;
  color: #f5f5f7;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.top-card a {
  font-size: 16px;
  text-decoration: none;
  padding: 25px;
  color: #1472d0;
}

.Ipad-text {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f5f7;
  font-family: "Roboto", sans-serif;
}
.Ipad-text h2 {
  margin-left: 30%;
  color: black;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.Ipad-text p {
  color: black;
}
.Ipad-text a {
  margin-left: 10%;
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  padding: 2px;
  color: #1472d0;
}

.top-img-container {
  position: relative;
}

.top-card {
  height: 520px;
  position: relative;
}
.top-card .emoji-text {
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Roboto", sans-serif;
}

.top-img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 548px;
}

.img-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  flex-direction: row;
}
.img-gallery-container .iphone14-text {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
}
.img-gallery-container .iphone14-text h2 {
  color: #f5f5f7;
  font-size: 29px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .iphone14-text p {
  font-size: 19px;
  color: #f5f5f7;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .iphone14-text a {
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  padding: 2px;
  color: #1472d0;
}
.img-gallery-container .ipodpro-text {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: "Roboto", sans-serif;
}
.img-gallery-container .ipodpro-text h2 {
  color: #f5f5f7;
  font-size: 29px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .ipodpro-text p {
  font-size: 19px;
  color: #f5f5f7;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .ipodpro-text a {
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  color: #1472d0;
}
.img-gallery-container .airpod-text {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
}
.img-gallery-container .airpod-text h2 {
  color: #f5f5f7;
  font-size: 29px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .airpod-text p {
  font-size: 19px;
  color: #f5f5f7;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .airpod-text a {
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  padding: 2px;
  color: #1472d0;
}
.img-gallery-container .airpod-text .fa-brands {
  color: white;
  padding: 10px;
  font-size: 30px;
}
.img-gallery-container .apple-watch-text {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
}
.img-gallery-container .apple-watch-text h2 {
  color: #f5f5f7;
  font-size: 29px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .apple-watch-text p {
  font-size: 19px;
  color: #f5f5f7;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .apple-watch-text a {
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  padding: 2px;
  color: #1472d0;
}
.img-gallery-container .apple-watch-text .fa-brands {
  color: white;
  padding: 10px;
  font-size: 30px;
}
.img-gallery-container .apple-watch-text .red-text {
  color: red;
  font-size: 12px;
}
.img-gallery-container .apple-watch-ultra-text {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
}
.img-gallery-container .apple-watch-ultra-text h2 {
  color: black;
  font-size: 29px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .apple-watch-ultra-text p {
  font-size: 19px;
  color: black;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .apple-watch-ultra-text a {
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  padding: 2px;
  color: #1472d0;
}
.img-gallery-container .apple-watch-ultra-text .fa-brands {
  color: black;
  padding: 10px;
  font-size: 30px;
}
.img-gallery-container .apple-watch-ultra-text .red-text {
  color: red;
  font-size: 12px;
}
.img-gallery-container .tv4k-text {
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
}
.img-gallery-container .tv4k-text h2 {
  color: black;
  font-size: 29px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .tv4k-text p {
  font-size: 19px;
  color: black;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.img-gallery-container .tv4k-text a {
  font-size: 16px;
  line-height: 1.525;
  text-decoration: none;
  padding: 2px;
  color: #1472d0;
}
.img-gallery-container .tv4k-text .fa-brands {
  color: black;
  padding: 10px;
  font-size: 30px;
}
.img-gallery-container a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.img-gallery-container .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 548px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.img-gallery-container .card img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
@media (min-width: 1200px) {
  .img-gallery-container .card {
    width: 48%;
    margin: 5px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

header {
  background-color: hsl(240deg, 1%, 20%);
  height: 50px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  position: relative;
}
header li {
  list-style: none;
}
header li a {
  text-decoration: none;
}
header .flex-container-icons-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}
@media (min-width: 832px) {
  header .flex-container-icons-header {
    width: auto;
  }
}
header .flex-container-menu-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 832px) {
  header .flex-container-menu-header {
    justify-content: center;
    align-items: center;
  }
}

.navbar-header {
  display: flex;
  flex-direction: column;
}
.navbar-header .nav-menu-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
  background-color: black;
  transition: 0.3s;
  height: 100vh;
  font-size: 16px;
  color: #D6D6D6;
  position: relative;
  z-index: 1001;
  padding-bottom: 100px;
}
.navbar-header .nav-menu-header li {
  padding: 10px 60px;
}
.navbar-header .nav-menu-header hr {
  margin-top: 10px;
}
.navbar-header .nav-menu-header #first-hr {
  width: 100vw;
}
.navbar-header .nav-menu-header i.fa-brands {
  margin-left: 75px;
  margin-top: -49px;
}
@media (min-width: 832px) {
  .navbar-header .nav-menu-header i.fa-brands {
    display: none;
  }
}
.navbar-header .nav-menu-header .nav-link-header {
  color: #D6D6D6;
}
.navbar-header .nav-menu-header .nav-link-header:hover {
  color: white;
}
.navbar-header .nav-menu-header .search-nav-header {
  background-color: #1D1D1F;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 60px;
  border-right-style: hidden;
  border-bottom-style: hidden;
  padding-left: 40px;
  font-size: 16px;
}
@media (min-width: 832px) {
  .navbar-header .nav-menu-header .search-nav-header {
    display: none;
  }
}
@media (min-width: 832px) {
  .navbar-header .nav-menu-header {
    flex-direction: row;
    background-color: hsl(240deg, 1%, 20%);
    height: auto;
    padding: 0;
    font-size: 12px;
  }
  .navbar-header .nav-menu-header li {
    padding: 0;
  }
}
@media (min-width: 832px) {
  .navbar-header .nav-item-header {
    margin-left: 20px;
  }
}
.navbar-header .nav-menu-shop {
  background-color: white;
  transition: 0.3s;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 90px;
  margin-top: 10px;
}
.navbar-header .nav-menu-shop a:link {
  color: #1472D0;
}
.navbar-header .nav-menu-shop a:visited {
  color: #1472D0;
}
.navbar-header .nav-menu-shop a:active {
  color: #1472D0;
}
.navbar-header .nav-menu-shop i {
  color: #1472D0;
  margin-right: 10px;
}
.navbar-header .nav-menu-shop .nav-item-shop:hover {
  text-decoration: underline;
}
.navbar-header .nav-menu-shop p {
  align-self: center;
  color: hsl(0deg, 0%, 54%);
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
@media (min-width: 832px) {
  .navbar-header .nav-menu-shop {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
  }
  .navbar-header .nav-menu-shop p {
    padding-left: 10px;
  }
}

@media (min-width: 832px) {
  .navbar-header {
    flex-direction: row;
    width: 100%;
    height: 50px;
  }
}
.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.hamburger .line {
  display: block;
  width: 15px;
  height: 1px;
  margin: 3px auto;
  transition: all 0.3s ease-in-out;
  background-color: #D6D6D6;
}
.hamburger .line:hover {
  color: hsl(0deg, 0%, 94%);
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(3px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  transform: translateY(-3px) rotate(-45deg);
}

@media (min-width: 832px) {
  .hamburger {
    display: none;
  }
}
header hr {
  width: 100%;
  border-top: 1px;
}

@media (min-width: 832px) {
  hr.hr-menu {
    display: none;
  }
}
.navbar-links-header {
  display: none;
}

@media (min-width: 832px) {
  .navbar-links-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.navbar-links-header.active {
  display: block;
  width: 100%;
}

.menulinks-header {
  display: none;
  width: 100%;
}

.menulinks-header.active {
  display: block;
  width: 100%;
  position: absolute;
  font-size: 15px;
}

@media (min-width: 832px) {
  .menulinks-header.active {
    width: 300px;
    margin-top: 60vh;
    right: 0.5vw;
    border-radius: 20px;
    border: 1px solid #D6D6D6;
  }
}
@media (min-width: 832px) and (min-width: 935px) {
  .menulinks-header.active {
    right: 5vw;
  }
}
@media (min-width: 832px) and (min-width: 1100px) {
  .menulinks-header.active {
    right: 12vw;
  }
}
@media (min-width: 832px) and (min-width: 1200px) {
  .menulinks-header.active {
    right: 15vw;
  }
}
@media (min-width: 832px) and (min-width: 1350px) {
  .menulinks-header.active {
    right: 20vw;
  }
}
.shop-logo-header-desktop {
  display: none;
}

@media (min-width: 832px) {
  .shop-logo-header-desktop {
    display: inline-block;
    color: #D6D6D6;
    margin-left: 20px;
    margin-right: 20px;
  }
  .shop-logo-header-desktop:hover {
    color: hsl(0deg, 0%, 94%);
  }
}
.brand-logo-header-desktop {
  display: none;
}

@media (min-width: 832px) {
  .brand-logo-header-desktop {
    display: inline-block;
  }
  .brand-logo-header-desktop i {
    line-height: normal;
  }
}
@media (min-width: 832px) {
  .brand-logo-header {
    display: none;
  }
}
i.fa-brands {
  color: #D6D6D6;
}
i.fa-brands:hover {
  color: hsl(0deg, 0%, 94%);
}

i#shopper-mobile {
  color: #D6D6D6;
  padding-right: 20px;
}
i#shopper-mobile:hover {
  color: hsl(0deg, 0%, 94%);
}

@media (min-width: 832px) {
  i#shopper-mobile {
    display: none;
  }
}
.search-icon-header-desktop {
  display: none;
}

@media (min-width: 832px) {
  .search-icon-header-desktop {
    display: inline-block;
    margin-left: 20px;
  }
}
.text-header {
  text-align: center;
  width: 100%;
  background-color: #FBFBFD;
  padding-bottom: 10px;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding-top: 50px;
}
.text-header h1 {
  font-size: 48px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -0.002em;
}
.text-header h2 {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 400;
  letter-spacing: 0.009em;
  padding-bottom: 10px;
}
.text-header a {
  font-size: 20px;
  text-decoration: none;
  padding: 25px;
  color: #1472D0;
}

.image-header {
  width: 100%;
  background-color: #FBFBFD;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  margin-top: -1px;
}
.image-header img {
  width: 70%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 649px) {
  .image-header img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */